# OS-Specific

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp
*.swo

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# .NET/C# Build Artifacts

bin/
obj/
[Bb]uild/
[Ll]ogs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vcxproj.user
*.cache

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# Razor files
*.cshtml.cs

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.symbols.nupkg
*.nuspec

# Entity Framework
migrations/

# VS Code Specific

.vscode/
.history/

# Dotnet CLI

*.db
*.deps.json
*.runtimeconfig.json

# Others

*.log
*.tmp
*.bak

# User secrets
secrets.json

# JetBrains Rider
.idea/
*.sln.iml